
*DS_Store*

# Ignore any test files
test*

# Ok to keep a copy of this, but don't need to 
# record every update
run_slurm.sh
*/run_slurm.sh

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
README.html

# R Environment Variables
.Renviron

# Custom

# Exclude scratch
scratch
*/scratch
code/_*
*/code/_*

# Exclude IGV sessions
IGV
*/IGV

# Exclude data
data
*/data
*/*/data

# Exclude logs
logs

# Exclude figures, which take up more space
*.pdf
*.png
figures
figures/*/*.pdf
*/figures/*/*.pdf

# Exclude source data
figures/*/*.source_data.tsv
*/figures/*/*.source_data.tsv

# Exclude output
output
*/output

.Rprofile
.Rhistory
*.Rproj
.Rproj.user

# Exclude rendered HTML files
code/*.html
*/code/*.html
